<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produkt Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" th:href="@{/produkt/create}">Stwórz</a>
    <form method="get" th:action="@{/produkt/list}" th:object="${filtr}">
        <div class="form-group">
            <label for="min">Min Cena</label>
            <input id="min" type="number" min="0" step="0.01" th:field="*{min}"></input>
        </div>
        <div class="form-group">
            <label for="max">Max Cena</label>

            <input id="max" type="number" max="0" step="0.01" th:field="*{max}"></input>
        </div>
        <input type="submit">Filtruj</input>
    </form>
    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>nazwa</td>
            <td>ilosc</td>
            <td>cena</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produkt : ${produkts}">
            <td th:text="${produkt.id}"></td>
            <td th:text="${produkt.nazwa}"></td>
            <td th:text="${produkt.ilosc}"></td>
            <td th:text="${produkt.cena}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/produkt/get(id=${produkt.id})}">Otwórz</a>
                <a class="btn btn-warning" th:href="@{/produkt/update(id=${produkt.id})}">Edytuj</a>
                <a class="btn btn-danger" th:href="@{/produkt/delete(id=${produkt.id})}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>